__pycache__/
*.pyc
*.pid
*.db

.envrc
.idea
envHubbi/
venv/

db.sqlite3
celerybeat-schedule.db
src/images/
assets.csv

!uploads/.gitkeep
uploads/

.env
.vscode/
settings.json
dump.rdb
debug.log

src/*.ipynb
src/.ipynb_checkpoints